# --- Python & Bytecode ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
# Ignora pastas comuns de ambiente virtual
venv/
.venv/
env/

# --- Environment Variables (SEGURANÇA CRÍTICA) ---
# Jamais versionar suas credenciais AWS
.env
.env.*

# --- IDEs & Editors ---
.vscode/
.idea/
.cursorignore
.cursorindexingignore
*.swp

# --- Project Specific (Arquivos de Teste Local) ---
# Ignora o vídeo fake gerado pelo script
video_teste.mp4
# test_flow.py

# --- Logs & Databases (Local) ---
*.log
*.sqlite3

# --- OS Files ---
.DS_Store
Thumbs.db